body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    }
.container {
    padding: 20px;
}
.category {
    margin: 20px 0;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}
.category h3 {
    margin-top: 0;
}
.card {
    display: flex;
    align-items: center;
}
.card img {
    max-width: 100px;
    margin-right: 20px;
    border-radius: 8px;
}
.card p {
    margin: 0;
    font-size: 1.2em;
    color: #333;
}
.card button {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.card button:hover {
    background-color: #218838;
}