<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>
<body>
    <nav class="nav_bar">
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'categories' %}">Categories</a>
        <a href="{% url 'bag' %}">Bag</a>
        <a href="{% url 'register' %}">Register</a>
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'history' %}">History</a>
    </nav>


    <script src="{% static 'js/scripts.js' %}"></script>

{% block content %}
{% endblock %}
</body>
</html>

